@import './viarables.scss';
@import '~bootstrap/scss/bootstrap.scss'; 

//logos section
.logos-container{
    padding-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.online-stores-logos{
    background-color: #FEF7E9;
    height: 150px;
}


.logo-store{
   height: 48px;
}

//Banner section

.banner{
    background: rgb(0,0,0);
    background: linear-gradient(83deg, rgba(0,0,0,0.051324753534226164) 65%, rgba(0,0,0,1) 79%, rgba(5,5,5,1) 94%), linear-gradient(180deg, rgba(0,0,0,0.30) 29%, rgba(0,0,0,0.74) 57%, rgba(5,5,5,1) 83%),  url('../assets/img/banner.jpg');
    height: 380px;
    object-fit: cover;
    position: relative;
    
}

.container-elements{
    width:80%;
    margin: 0 auto;
   
}

.iphone{
    height: 340px;
    position:absolute;
    bottom: 0px;
    left: 280px;
}


.audiobook-text{
    padding-left: 30px;
    padding-top: 110px;
   
}

.title{
    color:white;
    font-size: 1.8em;
    font-weight: 600;
}

.subtitle{
    color:$Saffron;
    font-size: 0.78em;
    font-weight: 600;
    font-family: 'Urbanist'
}

.description{
    color: $OsloGray;
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Urbanist'
}

.right-side-banner-text{
    width:65%;
}
.audiobook-logos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-left: 30px;
}

.audiobook-logo{
    height:30px;
}