@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss'; 

.more-about{
    height: 400px;

}
.moreabout-title{
    color:$Saffron;
    font-size: 4rem;
    font-family: 'Kristi', cursive;
}

.moreabout-description{
    font-family: 'Urbanist';
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 500;
}

.my-button{
    margin: 0 auto;
    color:white;
    background-color: #49A987;
}

.my-button:hover{
    margin: 0 auto;
    color:white;
    background-color: #357F60;
    cursor: pointer
}

.container-more{
    padding: 100px;
    
}