//COLORS

//Color cube
$Tundora: #434343;
$SuvaGray: #868586;
$Saffron: #f3b329;
$BlueLagoon: #027986;
$CornHarvest: #936c0f;
$FontainBlue: #51bfc7;
$AlizarinCrimson: #d61a2a;

//Median cut
$DawnPink: #f3ece3;
$CodGray: #1d1c1a;
$Pewter: #96a4a3;
$SandDune: #7c6e69;
$OsloGray: #86888e;

//Material design
$Anzac: #e1aa40;
$Scorpion: #5b5b5b;
$Keppel: #3da698;
$Merlin: #453e39;
$Tan: #d5ad91;

